:root{
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-very-dark-blue: hsl(234, 12%, 34%);
    --color-grayish-blue: hsl(229, 6%, 66%);
    --color-very-light-gray: hsl(0, 0%, 98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 100px auto 70px auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fafafa;
}

.content{
    display: grid;
    grid-template-areas: 
    "intro"
    "supervisor"
    "team"
    "karma"
    "calculator";
    min-width: 305px;
    max-width: 100%;
    margin: 0 auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}