.card {
    width: 310px;
    height: 220px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: -3px 5px 10px 5px rgba(0, 0, 0, .1);
    border-top: 5px solid gray;
}

.card__title {
    font-size: 1.1rem;
    color: var(--color-very-dark-blue);
}

.card__text {
    margin-top: .3rem;
    font-size: .8rem;
    color: var(--color-grayish-blue);
}

.supervisor {
    border-top: 5px solid var(--color-cyan);
    background: url(../images/icon-supervisor.svg) no-repeat bottom 30px right 30px;
    background-size: 64px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.team {
    border-top: 5px solid var(--color-red);
    background: url(../images/icon-team-builder.svg) no-repeat bottom 30px right 30px;
    background-size: 64px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.karma {
    border-top: 5px solid var(--color-orange);
    background: url(../images/icon-karma.svg) no-repeat bottom 30px right 30px;
    background-size: 64px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.calculator {
    border-top: 5px solid var(--color-blue);
    background: url(../images/icon-calculator.svg) no-repeat bottom 30px right 30px;
    background-size: 64px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 2;
}

@media screen and (min-width:778px) {
    .supervisor {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .team {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .karma {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .calculator {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 2;
    }
}